*{
    font-family: "Times New Roman", sans-serif;
}

.home{
    display: inline-block;
    background-color: lightgray;
    width: 75px;
    height: 20px;
    outline: 1px solid black;
    text-align: center;
    text-decoration: none;
}

h1.odin{
    width: 300px;
    height: 100px;
    font-size: 20px;
    background-color: yellow;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    outline: 1px solid black;
}

.title{
    width: 250px;
    background-color: lightslategray;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p.description{
    font-size: 15px;
}

.li {
    list-style-type: none;
    font-size: 17px;
}
